.Weather .current-location {
  padding: 15px 0;
}

.Weather .current-location .date-info {
  color: var(--secondary-color);
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  line-height: 1;
}

.Weather .current-weather-row {
  padding: 15px 0;
}

.Weather .col-current-weather-info {
  margin: auto 0;
}

.Weather .col-current-weather-info .temperature-info {
  line-height: 1;
}

.Weather .col-current-weather-info #current-weather-icon {
  max-width: 50px;
  vertical-align: middle;
}

.Weather .col-current-weather-info .temperature {
  color: var(--primary-color);
  display: inline;
  font-size: 38px;
  vertical-align: middle;
  font-weight: 700;
}

.Weather .col-current-weather-info .temperature-unit {
  color: var(--secondary-color);
  font-size: 17px;
  font-weight: 700;
  line-height: 38px;
  vertical-align: top;
}

.Weather .unit-default {
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}

.Weather .unit-selected {
  font-weight: 700;
  text-decoration: none;
  cursor: not-allowed;
}

.Weather .col-current-weather-info .weather {
  color: var(--secondary-color);
  font-size: 14px;
  font-style: italic;
}

.Weather .col-current-weather-more-info {
  font-size: 11px;
}

.Weather .value {
  color: var(--secondary-color);
  font-weight: 500;
}

.Weather .label {
  color: var(--fixed-elements-color);
  font-weight: 500;
}
