.SavedCities .label {
  color: var(--fixed-elements-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
}

.SavedCities .card-saved-weather-info .temperature-title {
  line-height: 30px;
  margin: 0;
}

.SavedCities .card-saved-weather-info .temperature,
.SavedCities .card-saved-weather-info .degrees {
  color: var(--primary-color);
  font-size: 25px;
  font-weight: 700;
  vertical-align: middle;
}

.SavedCities .card-saved-weather-info .close {
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 8px;
  font-weight: 900;
  line-height: 10px;
  opacity: 0.4;
  vertical-align: text-top;
}

.SavedCities .card-saved-weather-info .icon {
  max-width: 30px;
}

.SavedCities .card-saved-weather-info .city-name {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
  padding-top: 2px;
}

.SavedCities .card-saved-weather-info .weather {
  color: var(--secondary-color);
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
}

.SavedCities .card-saved-weather-info {
  background: rgba(var(--background-color), 0.1);
  border: none;
  border-radius: 5px;
  margin: 10px 5px;
}
