:root {
  --primary-color: rgb(163, 28, 136);
  --secondary-color: rgb(255, 81, 81);
  --fixed-elements-color: rgba(255, 164, 27);
  --line-color: rgba(255, 164, 27, 0.5);
  --background-color: 253, 192, 192;
  --shadow-color: #757575;
}

body {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
}

.weather-container {
  background: rgba(var(--background-color), 0.2);
  border-radius: 30px;
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
}
